<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <label for="male">
            <input type="radio" id="male" name="sex" value="男" v-model="sex">男
        </label>
        <label for="female">
            <input type="radio" id="female" name="sex" value="女" v-model="sex">女
        </label> -->
            <!-- v-model绑定同一个值 name可以去掉-->
            <label for="male">
                <input type="radio" id="male"  value="男" v-model="sex">男
            </label>
            <label for="female">
                <input type="radio" id="female"  value="女" v-model="sex">女
            </label>
        <h2>{{sex}}</h2>
    </div>
</body>
<script>
    const app = new Vue({
        el:'#app',
        data:{
            sex:'男'
        }
        }
    )
</script>
</html>